In [1]:
# import packages 
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline 
from sklearn import linear_model
import statsmodels.api as sm

In [2]:
data =pd.read_csv("DivorceRates.CSV")
data.head()

,Country/region,Continent,Marriage,Divorce,Actual,Percent,Data Source Year
0,Albania,Europe,8.1,1.7,4.76,20.99,(2018)
1,Algeria,Africa,10.1,1.6,6.31,15.84,(2013)
2,Armenia,Europe,6.0,1.0,6.00,16.67,(2011)
3,Australia,Oceania,4.6,2.0,2.30,43.48,(2017)
4,Austria,Europe,5.3,1.8,2.94,33.96,(2018)

In [3]:
for i,v in enumerate(data.columns):
    print (i,v)

0 Country/region
1 Continent
2 Marriage
3 Divorce
4 Actual
5 Percent
6 Data Source Year

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country/region    105 non-null    object
 1   Continent         105 non-null    object
 2   Marriage          103 non-null    float64
 3   Divorce           103 non-null    float64
 4   Actual            102 non-null    float64
 5   Percent           102 non-null    float64
 6   Data Source Year  105 non-null    object
dtypes: float64(4), object(3)
memory usage: 5.9+ KB

there are missing values in the data

In [5]:
data.isnull().sum()

Country/region      0
Continent           0
Marriage            2
Divorce             2
Actual              3
Percent             3
Data Source Year    0
dtype: int64

In [6]:
data.fillna({"Marriage":data['Marriage'].mean(), "Divorce": data['Divorce'].mean(), "Actual": data['Actual'].mean(),"Percent":data['Percent'].mean()},inplace=True)

In [7]:
data.isnull().sum()

Country/region      0
Continent           0
Marriage            0
Divorce             0
Actual              0
Percent             0
Data Source Year    0
dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country/region    105 non-null    object
 1   Continent         105 non-null    object
 2   Marriage          105 non-null    float64
 3   Divorce           105 non-null    float64
 4   Actual            105 non-null    float64
 5   Percent           105 non-null    float64
 6   Data Source Year  105 non-null    object
dtypes: float64(4), object(3)
memory usage: 5.9+ KB

the data source year has wrong data type

In [10]:
# change datatype for Data Source Year from object to int
data["Data Source Year"].str.replace(r'[()]',"")
data['Data Source Year']=data['Data Source Year'].astype('int')

ValueError: invalid literal for int() with base 10: '(2018)'